LOCAL_HOST="localhost"

PREVIEW_PORT="9000"
FRONTEND_UNIT_TEST_UI_PORT="9100"
BACKEND_UNIT_TEST_UI_PORT="9200"
E2E_TEST_UI_PORT="9300"

NODE_IMAGE="node:19-alpine"
NGINX_IMAGE="nginx:1.23-alpine"
PLAYWRIGHT_IMAGE="mcr.microsoft.com/playwright:v1.30.0-focal"