server {
    server_name _;
    index index.html;
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    listen 80;

    location / {
        root /var/www;
    }

    location /api {
        proxy_pass http://backend;
    }
}